<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta charset="utf-8" />
        <title>網頁</title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='member.css')}}" media="all"/>
    </head>
    <body>
        <div class="welcome">
            <div class="title">歡迎光臨，這是會員頁</div>
        </div>
        <div style="text-align:center;margin:25px">
            <div style="margin:5px;">{{name}}，歡迎登入系統</div>
            <div style="margin:5px;"><a href="/signout">登出系統</a></div>
        </div>
        <div style="text-align:center;margin:25px">
            <div style="font-weight:bold;margin:5px">查詢會員姓名</div>
            <input type="text" id="username"/><button id="btn">查詢</button>
            <div id="name"></div>
        </div>
        <div style="text-align:center;margin:25px">
            <div style="font-weight:bold;margin:5px">更新我的姓名</div>
            <input type="text" id="name_update"/><button id="btn_update">更新</button>
            <div id="state_update"></div>
        </div>
        <script>
            let btn=document.getElementById("btn");
            let user=document.getElementById("username");
            let name=document.getElementById("name");
            btn.addEventListener("click",function(){
                let username=user.value;
                let src="http://127.0.0.1:3000/api/members?username="+username;
                fetch(src,{method: "GET"}).then(function(response){
                    return response.json();
                }).then(function(result){
                    name.innerHTML=result.data.name+"("+result.data.username+")";
                }).catch(function(error){
                    console.log(error);
                });
            });
            let btn_update=document.getElementById("btn_update");
            let user_update=document.getElementById("name_update");
            let state_update=document.getElementById("state_update");
            btn_update.addEventListener("click",function(){
                let name=user_update.value;
                let data={
                    "name":name
                }
                let src="http://127.0.0.1:3000/api/member";
                fetch(src,{
                    method: "POST",
                    body: JSON.stringify(data),
                    headers: new Headers({
                        'Content-Type': 'application/json'
                    })
                }).then(function(response){
                    return response.json();
                }).then(function(result){
                    if ("ok" in result){
                        state_update.innerHTML="更新成功";
                    }else{
                        state_update.innerHTML="更新失敗";
                    }
                }).catch(function(error){
                    console.log(error);
                });
            });
        </script>
    </body>
</html>